@model User


@{
    ViewData["Title"] = "Edit";
   List<UserRoles> userRoles = ViewBag.UserRoles;
}

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3 mr-5 ml-5">
        <label>UserName</label>
        <input type="text" class="form-control" asp-for="UserName"><br />
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="mb-3 mr-5 ml-5">
        <label asp-for="Email">Email</label>
        <input type="text" class="form-control" asp-for="Email"><br />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RoleIds">Hobbies</label>
        <select asp-for="RoleIds" class="form-select">

            @{
                int temp = 0;
                foreach (var item in ViewBag.Roles)
                {


                    @if (temp < userRoles.Count && item.Id == userRoles.Skip(temp).Take(1).FirstOrDefault().RoleId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                        temp++;
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="RoleIds"></span>
    </div>


    @*<div class="mb-3 mr-5 ml-5">
        <label asp-for="RoleIds">Hobbies</label>
        <select asp-for="RoleIds" class="form-select">

            @{
               
                foreach (var item in ViewBag.Roles)
                {
                        <option value="@item.Id">@item.Name</option>
                   
                }
            }
        </select>
        <span asp-validation-for="RoleIds"></span>
    </div>*@


    <button  type="submit" class="btn btn-primary mr-5">Submit</button>
</form>



